<template>
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <el-button type="warning" plain @click="clearFilters()">
                            <i class="el-icon-s-open"></i>
                            Сбросить фильтры
                        </el-button>
                    </div>
                    <div class="col-xs-12 col-md-9 text-right">
                        <el-pagination
                            background
                            layout="total, prev, pager, next"
                            :current-page="filters.pagination.page"
                            :page-size="filters.pagination.limit"
                            @current-change="handleCurrentChange"
                            @size-change="handleSizeChange"
                            :total="total"
                        >
                        </el-pagination>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th @click="sorting('id')" class="clickable" width="10%">
                                ID
                                <i
                                    v-if="filters.sort.field === 'id'"
                                    class="pull-right fa "
                                    v-bind:class="{
                                            'fa-sort-amount-desc': !filters.sort.order,
                                            'fa-sort-amount-asc' : filters.sort.order
                                        }"></i>
                            </th>
                            <th @click="sorting('name')" class="clickable" width="15%">
                                Имя
                                <i
                                    v-if="filters.sort.field === 'name'"
                                    class="pull-right fa"
                                    v-bind:class="{
                                            'fa-sort-amount-desc': !filters.sort.order,
                                            'fa-sort-amount-asc' : filters.sort.order
                                        }"></i>
                            </th>
                            <th @click="sorting('surname')" class="clickable" width="20%">
                                Фамилия
                                <i
                                    v-if="filters.sort.field === 'surname'"
                                    class="pull-right fa"
                                    v-bind:class="{
                                            'fa-sort-amount-desc': !filters.sort.order,
                                            'fa-sort-amount-asc' : filters.sort.order
                                        }"></i>
                            </th>
                            <th width="30%">Телефон</th>
                            <th width="25%">Страна</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="search--field">
                                <el-input placeholder="ID" v-model="filters.fields.id" @input="getRecords()" clearable></el-input>
                            </td>
                            <td class="search--field">
                                <el-input placeholder="Имя" v-model="filters.fields.name" @input="getRecords()" clearable></el-input>
                            </td>
                            <td class="search--field">
                                <el-input placeholder="Фамилия" v-model="filters.fields.surname" @input="getRecords()" clearable></el-input>
                            </td>
                            <td class="search--field">
                                <el-input placeholder="Телефон" v-model="filters.fields.phone" @input="getRecords()" clearable></el-input>
                            </td>
                            <td class="search--field">
                                <el-input placeholder="Страна" v-model="filters.fields.country" @input="getRecords()" clearable></el-input>
                            </td>
                        </tr>
                        <tr v-for="(user, index) in users" :key="index">
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.surname }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ user.country }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
</template>

<script>
    import FilterPost from './models/FilterUser.js'

    export default {
        data() {
            return {
                actions: {
                    rest: '/api/v1/users',
                },
                users: [],
                filters: JSON.parse(JSON.stringify(FilterPost)),
                total: 0,
                saveAlias: 'saveAlias',
            }
        },
        components: {
        },
        async created() {
            let filters = this.$localStorage.getItem(this.saveAlias)
            if (filters) {
                this.filters = JSON.parse(filters)
            }
            await this.getRecords()
        },
        methods: {
            async getRecords() {
                try {
                    this.saveFilters()

                    let response = await this.$http.get(this.actions.rest, {params: {filters: this.filters}})
                    this.users = response.data.data
                    this.total = response.data.total
                } catch (e) {
                    // if (e.response.status == 403) {
                    //     this.$confirm(e.response.data.message + ' Авторизуйтесь заново.', 'Внимание', {
                    //         confirmButtonText: 'Выйти',
                    //         type: 'warning',
                    //         center: true
                    //     }).then(() => {
                    //         this.$http.get('/logout')
                    //         window.location.href = '/login'
                    //     })
                    // }
                } finally {

                }
            },

            async sorting(field) {
                this.filters.sort.field = field
                this.filters.sort.order = !this.filters.sort.order

                await this.getRecords()
            },


            async handleCurrentChange(page) {
                this.filters.pagination.page = page

                await this.getRecords()
            },

            async handleSizeChange(size) {
                this.filters.pagination.limit = size

                await this.getRecords()
            },

            async clearFilters() {
                this.filters = JSON.parse(JSON.stringify(FilterPost))

                await this.getRecords()
            },

            saveFilters() {
                this.$localStorage.removeItem(this.saveAlias)
                this.$localStorage.setItem(this.saveAlias, JSON.stringify(this.filters))

                this.fieldsDialogIsVisible = false
            },
        }
    }
</script>


<style lang="css">
    .clickable {
        cursor: pointer;
    }

    .search--field {
        padding: 0px !important;
    }

    .actions {
        text-align: center;
    }

    .actions i {
        margin-right: 5%;
        cursor: pointer;
    }

    .delete:hover {
        color: #e84848;
    }

    .el-link:after {
        display: none;
    }
    .el-link.el-link--primary {
        color: #007dff;
    }

    .has-error input, .has-error textarea {
        border: 1px solid red;
    }

    .el-message-box__btns .el-button.el-button--default.el-button--small {
        display: none;
    }
    .el-message-box__btns .el-button.el-button--default.el-button--small.el-button--primary {
        display: inline-block;
    }

    .el-button.el-button--warning.is-plain {
        width: 100%;
    }

    .badge, .badge-black {
        color: #fff;
    }

    .badge.badge-default {
        display: inline-block;
        line-height: 1;
        white-space: nowrap;
        cursor: pointer;
        background: #fff;
        border: 1px solid #dcdfe6;
        color: #606266;
        -webkit-appearance: none;
        text-align: center;
        box-sizing: border-box;
        outline: none;
        margin: 0;
        transition: .1s;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        border-radius: 4px;
    }

    .badge-black {
        background-color: black;
    }
    .badge-warning {
        background-color: #e6a23c !important;
        border-color: #e6a23c;
    }
    .badge-primary {
        background-color: #409eff !important;
        border-color: #409eff;
    }
    .badge-success {
        background-color: #67c23a !important;
        border-color: #67c23a;
    }
    .badge-info {
        background-color: #909399 !important;
        border-color: #909399;
    }
    .badge-danger {
        background-color: #f56c6c !important;
        border-color: #f56c6c;
    }
</style>
