<template>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <el-button @click="backToIndex()" type="warning">
                            <i class="el-icon-d-arrow-left"></i>
                            Назад
                        </el-button>
                        <el-button type="success" @click="save()">
                            <i class="el-icon-check"></i>
                            Сохранить
                        </el-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <legend>Основная информация</legend>

                        <div class="form-group">
                            <el-input v-model="post.heading" placeholder="Заголовок" id="heading"></el-input>
                        </div>

                        <div class="form-group">
                            <el-input v-model="post.alias" placeholder="Алиас" id="alias" disabled></el-input>
                        </div>

                        <div class="form-group">
                            <el-input v-model="post.content" type="textarea" resize="none" :rows="10" placeholder="Содержание"></el-input>
                        </div>

                        <div class="form-group">
                            <el-select v-model="post.active" placeholder="Отображение на сайте">
                                <el-option
                                    v-for="item in actives"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Post from './models/Post.js'

    export default {
        data() {
            return {
                actions: {
                    rest: '/api/v1/posts',
                },
                post: JSON.parse(JSON.stringify(Post)),
                errors: [],
                actives: [{
                    value: 0,
                    label: 'Не опубликован'
                }, {
                    value: 1,
                    label: 'Опубликован'
                }],
            }
        },
        components: {
        },
        async created() {
            if (this.$route.params.id) {
                await this.getClient(this.$route.params.id);
                return
            }
            (function($) {
                var converter = {
                    'а' : 'a',   'б' : 'b',   'в' : 'v',
                    'г' : 'g',   'д' : 'd',   'е' : 'e',
                    'ё' : 'e',   'ж' : 'zh',  'з' : 'z',
                    'и' : 'i',   'й' : 'y',   'к' : 'k',
                    'л' : 'l',   'м' : 'm',   'н' : 'n',
                    'о' : 'o',   'п' : 'p',   'р' : 'r',
                    'с' : 's',   'т' : 't',   'у' : 'u',
                    'ф' : 'f',   'х' : 'h',   'ц' : 'c',
                    'ч' : 'ch',  'ш' : 'sh',  'щ' : 'sch',
                    'ь' : '\'',  'ы' : 'y',   'ъ' : '\'',
                    'э' : 'e',   'ю' : 'yu',  'я' : 'ya',
                    'А' : 'A',   'Б' : 'B',   'В' : 'V',
                    'Г' : 'G',   'Д' : 'D',   'Е' : 'E',
                    'Ё' : 'E',   'Ж' : 'Zh',  'З' : 'Z',
                    'И' : 'I',   'Й' : 'Y',   'К' : 'K',
                    'Л' : 'L',   'М' : 'M',   'Н' : 'N',
                    'О' : 'O',   'П' : 'P',   'Р' : 'R',
                    'С' : 'S',   'Т' : 'T',   'У' : 'U',
                    'Ф' : 'F',   'Х' : 'H',   'Ц' : 'C',
                    'Ч' : 'Ch',  'Ш' : 'Sh',  'Щ' : 'Sch',
                    'Ь' : '\'',  'Ы' : 'Y',   'Ъ' : '\'',
                    'Э' : 'E',   'Ю' : 'Yu',  'Я' : 'Ya',
                };

                function transliterate(text) {
                    var text = text || '';

                    function isCirilic(letter) {
                        return !!~letter.search(/[а-я]/i);
                    }

                    function isLatin(letter) {
                        return !!~letter.search(/[a-z]/i);
                    }

                    function isNumber(letter) {
                        return !!~letter.search(/\d/);
                    }

                    // переводим букву
                    function symbolTransliteration(letter) {
                        if(isCirilic(letter)) {
                            return converter[letter]
                        }

                        if(isLatin(letter) || isNumber(letter)) {
                            return letter;
                        }

                        return letter == '-' ? '-' : '';
                    }

                    return text.trim()
                        .toLowerCase()
                        .replace(/[^a-zа-яё0-9\- ]/ig, '') // удаляем лишнее
                        .replace(/\s{1,}/g, '-') // заменяем пробелы на -
                        .split('')
                        .map(symbolTransliteration) // переводим каждый символ в массиве
                        .join('');
                }

                // транслитерация из текста заголовка в url
                $(document).ready(function(){
                    var titleField = $('#heading');
                    var urlField = $('#alias');

                    titleField.change(function(){
                        var title = $(this).val()
                        urlField.val(transliterate(title))
                    })
                })

            })(jQuery)
        },
        methods: {
            async getClient(id) {
                try {
                    let response = await this.$http.get(`${this.actions.rest}/${id}`)
                    this.post = response.data
                } catch (e) {
                    this.$message.error('Ошибка получения пользователя')
                } finally {

                }
            },

            async save() {
                this.errors = []
                try {
                    let response

                    if (this.post.id) {
                        response = await this.$http.put(`${this.actions.rest}/${this.post.id}`, this.post)
                    } else {
                        response = await this.$http.post(this.actions.rest, this.post)
                    }

                    this.$message.success(response.data.message)
                    this.$router.push({ name: 'index' })
                } catch (e) {
                    if (!e.response) {
                        throw e
                    }
                    switch (e.response.status) {
                        case 422:
                            this.errors = e.response.data

                            break;
                        default:
                            this.$message.error('Ошибка сервера')
                    }
                } finally {

                }
            },

            backToIndex() {
                this.$router.push({ name: 'index' })
            },
        }
    }
</script>

<style lang="css">
    .has-error input, .has-error textarea {
        border: 1px solid red
    }

    .el-select {
        width: 100%;
    }

    .error-desc {
        color: red;
    }

    .disabled input {
        pointer-events: none;
        background-color: #F5F7FA;
        border-color: #E4E7ED;
        color: #C0C4CC;
        cursor: not-allowed;
    }
</style>
