<template>
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <el-button @click="create()" type="primary" plain>Добавить пост</el-button>
                    </div>
                    <div class="col-xs-12 col-md-6 text-right">
                        <el-pagination
                            background
                            layout="total, prev, pager, next"
                            :current-page="filters.pagination.page"
                            :page-size="filters.pagination.limit"
                            @current-change="handleCurrentChange"
                            @size-change="handleSizeChange"
                            :total="total"
                        >
                        </el-pagination>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th @click="sorting('id')" class="clickable" width="5%">
                                ID
                                <i
                                    v-if="filters.sort.field == 'id'"
                                    class="pull-right fa "
                                    v-bind:class="{
                                            'fa-sort-amount-desc': !filters.sort.order,
                                            'fa-sort-amount-asc' : filters.sort.order
                                        }"></i>
                            </th>
                            <th @click="sorting('heading')" class="clickable" width="10%">
                                Заголовок
                                <i
                                    v-if="filters.sort.field == 'heading'"
                                    class="pull-right fa "
                                    v-bind:class="{
                                            'fa-sort-amount-desc': !filters.sort.order,
                                            'fa-sort-amount-asc' : filters.sort.order
                                        }"></i>
                            </th>
                            <th @click="sorting('content')" class="clickable">
                                Содержание
                                <i
                                    v-if="filters.sort.field == 'content'"
                                    class="pull-right fa "
                                    v-bind:class="{
                                            'fa-sort-amount-desc': !filters.sort.order,
                                            'fa-sort-amount-asc' : filters.sort.order
                                        }"></i>
                            </th>
                            <th @click="sorting('status')" class="clickable" width="10%">
                                Статус
                                <i
                                    v-if="filters.sort.field == 'status'"
                                    class="pull-right fa "
                                    v-bind:class="{
                                            'fa-sort-amount-desc': !filters.sort.order,
                                            'fa-sort-amount-asc' : filters.sort.order
                                        }"></i>
                            </th>
                            <th @click="sorting('date_range')" class="clickable text-center" width="15%">
                                Дата публикации
                                <i
                                    v-if="filters.sort.field == 'date_range'"
                                    class="pull-right fa "
                                    v-bind:class="{
                                            'fa-sort-amount-desc': !filters.sort.order,
                                            'fa-sort-amount-asc' : filters.sort.order
                                        }"></i>
                            </th>
                            <th width="15%">Изображение</th>
                            <th width="5%">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="search--field">
                                <el-input placeholder="ID" v-model="filters.fields.id" @input="getRecords()" clearable></el-input>
                            </td>
                            <td class="search--field">
                                <el-input placeholder="Заголовок" v-model="filters.fields.heading" @input="getRecords()" clearable></el-input>
                            </td>
                            <td></td>
                            <td class="search--field">
                                <el-select
                                    v-model="filters.fields.active"
                                    :class="{'has-error': this.errors.active}"
                                >
                                    <el-option
                                        v-for="item in statuses"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                    </el-option>
                                </el-select>
                            </td>
                            <td class="search--field">
                                <el-date-picker
                                    v-model="filters.fields.date_range"
                                    type="daterange"
                                    format="dd.MM.yyyy – HH:mm:ss"
                                    value-format="yyyy-MM-dd HH:mm:ss"
                                    unlink-panels
                                    range-separator="-"
                                    start-placeholder="Start date"
                                    end-placeholder="End date"
                                    @change="getRecords()"
                                    :picker-options="pickerOptions">
                                </el-date-picker>
                            </td>
                            <td></td>
                            <td class="search--field">
                                <el-button type="warning" plain @click="clearFilters()">
                                    <i class="el-icon-s-open"></i>
                                    Сбросить фильтры
                                </el-button>
                            </td>
                        </tr>
                        <tr v-for="(post, index) in posts" :key="index">
                            <td>{{ post.id }}</td>
                            <td>{{ post.heading }}</td>
                            <td>{{ post.content }}</td>
                            <td>
                                <span class="badge" :class="[post.active_label]">
                                    {{ post.active }}
                                </span>
                            </td>
                            <td class="text-center">{{ post.published_at }}</td>
                            <td>{{ post.image }}</td>
                            <td class="actions">
                                <el-tooltip class="item" effect="dark" content="Редактировать" placement="top">
                                    <i class="el-icon-edit" @click="edit(post)"></i>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" content="Удалить" placement="right">
                                    <i class="el-icon-delete delete" @click="remove(post)"></i>
                                </el-tooltip>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
</template>

<script>
    import FilterPost from './models/FilterPost.js'

    export default {
        data() {
            return {
                actions: {
                    rest: '/api/v1/posts',
                    getStatuses: '/api/v1/static-data/posts/get-statuses',
                },
                posts: [],
                filters: JSON.parse(JSON.stringify(FilterPost)),
                pickerOptions: {
                  shortcuts: [{
                    text: 'День',
                    onClick(picker) {
                      const end = new Date();
                      const start = new Date();
                      start.setTime(start.getTime() - 3600 * 1000 * 22.91);
                      picker.$emit('pick', [start, end]);
                    }
                  }, {
                    text: 'Неделя',
                    onClick(picker) {
                      const end = new Date();
                      const start = new Date();
                      start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                      picker.$emit('pick', [start, end]);
                    }
                  }, {
                    text: 'Месяц',
                    onClick(picker) {
                      const end = new Date();
                      const start = new Date();
                      start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                      picker.$emit('pick', [start, end]);
                    }
                  }, {
                    text: '3 месяца',
                    onClick(picker) {
                      const end = new Date();
                      const start = new Date();
                      start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                      picker.$emit('pick', [start, end]);
                    }
                  }]
                },
                errors: [],
                statuses: [],
                total: 0,
                saveAlias: 'saveAlias',
            }
        },
        components: {
        },
        async created() {
            let filters = this.$localStorage.getItem(this.saveAlias)
            if (filters) {
                this.filters = JSON.parse(filters)
            }
            await this.getRecords()
            await this.getStatuses()
        },
        methods: {
            async getRecords() {
                try {
                    this.saveFilters()

                    let response = await this.$http.get(this.actions.rest, {params: {filters: this.filters}})
                    this.posts = response.data.data
                    this.total = response.data.total
                } catch (e) {
                    // if (e.response.status == 403) {
                    //     this.$confirm(e.response.data.message + ' Авторизуйтесь заново.', 'Внимание', {
                    //         confirmButtonText: 'Выйти',
                    //         type: 'warning',
                    //         center: true
                    //     }).then(() => {
                    //         this.$http.get('/logout')
                    //         window.location.href = '/login'
                    //     })
                    // }
                } finally {

                }
            },

            async sorting(field) {
                this.filters.sort.field = field
                this.filters.sort.order = !this.filters.sort.order

                await this.getRecords()
            },


            async handleCurrentChange(page) {
                this.filters.pagination.page = page

                await this.getRecords()
            },

            async handleSizeChange(size) {
                this.filters.pagination.limit = size

                await this.getRecords()
            },

            async clearFilters() {
                this.filters = JSON.parse(JSON.stringify(FilterPost))

                await this.getRecords()
            },

            saveDialogFields() {
                this.saveFilters()
                this.fieldsDialogIsVisible = false
            },

            saveFilters() {
                this.$localStorage.removeItem(this.saveAlias)
                this.$localStorage.setItem(this.saveAlias, JSON.stringify(this.filters))

                this.fieldsDialogIsVisible = false
            },

            async getStatuses() {
                let response = await this.$http.get(this.actions.getStatuses, {})
                this.statuses = response.data
            },

            async remove(post) {
                this.errors = []
                try {
                    await this.$http.delete('/api/v1/posts/' + post.id)
                    await this.getRecords()
                } catch (e) {
                    if (!e.response) {
                        throw e
                    }
                    switch (e.response.status) {
                        case 422:
                            this.errors = e.response.data
                            break;
                        default:
                            this.$message.error('Ошибка сервера')
                    }
                } finally {

                }
            },

            edit(post) {
                this.$router.push({name: 'update', params: { id: post.id }})
            },

            create() {
                this.$router.push({name: 'create'})
            },

        }
    }
    // $(document).ready( function () {
    //     $('table').DataTable();
    // } );
</script>


<style lang="css">
    .clickable {
        cursor: pointer;
    }

    .search--field {
        padding: 0px !important;
    }

    .actions {
        text-align: center;
    }

    .actions i {
        margin-right: 5%;
        cursor: pointer;
    }

    .delete:hover {
        color: #e84848;
    }

    .el-link:after {
        display: none;
    }
    .el-link.el-link--primary {
        color: #007dff;
    }

    .has-error input, .has-error textarea {
        border: 1px solid red;
    }

    .el-message-box__btns .el-button.el-button--default.el-button--small {
        display: none;
    }
    .el-message-box__btns .el-button.el-button--default.el-button--small.el-button--primary {
        display: inline-block;
    }

    .el-button.el-button--warning.is-plain {
        width: 100%;
    }

    .badge, .badge-black {
        color: #fff;
    }

    .badge.badge-default {
        display: inline-block;
        line-height: 1;
        white-space: nowrap;
        cursor: pointer;
        background: #fff;
        border: 1px solid #dcdfe6;
        color: #606266;
        -webkit-appearance: none;
        text-align: center;
        box-sizing: border-box;
        outline: none;
        margin: 0;
        transition: .1s;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        border-radius: 4px;
    }

    .badge-black {
        background-color: black;
    }
    .badge-warning {
        background-color: #e6a23c !important;
        border-color: #e6a23c;
    }
    .badge-primary {
        background-color: #409eff !important;
        border-color: #409eff;
    }
    .badge-success {
        background-color: #67c23a !important;
        border-color: #67c23a;
    }
    .badge-info {
        background-color: #909399 !important;
        border-color: #909399;
    }
    .badge-danger {
        background-color: #f56c6c !important;
        border-color: #f56c6c;
    }

</style>
